.alineadoPrincipal {
    display: flex;
    justify-content: center;
}

.alineadoVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta {
    background-color:cadetblue;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    height: 500px;
  
}

.scroll {
    overflow: scroll;
}